<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="huaweicloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
    <add key="commondotnet" value="https://dllr-nuget.pkg.coding.net/commondotnet/commondotnet/v3/index.json" />

    <add key="local" value="C:\Users\cheng\NugetLocal" />
  </packageSources>
  <packageSourceCredentials>
    <commondotnet>
      <add key="Username" value="commondotnet-1723911721661" />
      <add key="ClearTextPassword" value="882c6b4e4abd3ab4a98ffb679b4e3f46d9ad08dd" />
    </commondotnet>
  </packageSourceCredentials>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
